node_modules

# Hide dot files by default
.*
# Whitelist dot files we want to keep under version control
!.gitignore
!.editorconfig
!.eslintrc*
!.*.sample
!.prettierrc

# IDE & OS specific files
*~
.DS_Store
.idea

coverage
*.log